In [15]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [16]:
price = pd.read_csv('agrodata.csv')
price.head()

         Date  Price
0  02/01/2020     74
1  03/01/2020     81
2  04/01/2020     77
3  07/01/2020     73
4  08/01/2020     67

In [17]:
price['Date'] = price['Date'].astype(str)

In [18]:
price['Date'] = pd.to_datetime(price['Date'], format = "%d/%m/%Y")

In [19]:
price.head()

        Date  Price
0 2020-01-02     74
1 2020-01-03     81
2 2020-01-04     77
3 2020-01-07     73
4 2020-01-08     67

In [20]:
price.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 988 entries, 0 to 987
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    988 non-null    datetime64[ns]
 1   Price   988 non-null    int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 15.6 KB

In [21]:
weather = pd.read_csv('agroweather_data.csv')
weather.head()

,Unnamed: 0,fecha,dia,tempMedia,tempMax,horMinTempMax,tempMin,horMinTempMin,humedadMedia,humedadMax,...,velViento,dirViento,velVientoMax,horMinVelMax,dirVientoVelMax,radiacion,precipitacion,bateria,fechaUtlMod,et0
0,0,2020-01-01,1,11.28,16.30,13:26,8.07,06:28,76.80,88.3,...,1.742,346.500,4.606,02:20,347.600,10.990,0.0,12.88,2020-01-03T07:45:00.000+0100,1.343917
1,1,2020-01-02,2,12.19,15.32,12:32,10.39,17:56,75.70,85.6,...,1.473,359.600,3.998,05:23,0.000,7.060,0.0,12.87,2020-01-04T07:45:00.000+0100,1.199930
2,2,2020-01-03,3,11.77,16.18,13:36,7.94,06:58,77.80,86.8,...,2.111,326.300,4.302,03:35,337.000,9.860,0.0,12.86,2020-01-05T07:45:00.000+0100,1.397516
3,3,2020-01-04,4,12.79,16.79,11:40,9.00,04:20,72.60,86.2,...,1.699,40.730,4.439,01:56,0.095,6.104,0.0,12.87,2020-01-06T07:45:00.000+0100,1.374706
4,4,2020-01-05,5,11.85,17.18,11:36,8.60,00:00,69.21,82.5,...,1.863,4.554,5.184,06:27,326.400,11.050,0.0,12.85,2020-01-07T07:45:00.000+0100,1.695512

In [22]:
weather.drop(['Unnamed: 0', 'bateria', 'fechaUtlMod', 'et0'], axis = 1, inplace =True)
weather.head()

,fecha,dia,tempMedia,tempMax,horMinTempMax,tempMin,horMinTempMin,humedadMedia,humedadMax,horMinHumMax,humedadMin,horMinHumMin,velViento,dirViento,velVientoMax,horMinVelMax,dirVientoVelMax,radiacion,precipitacion
0,2020-01-01,1,11.28,16.30,13:26,8.07,06:28,76.80,88.3,19:04,61.53,10:42,1.742,346.500,4.606,02:20,347.600,10.990,0.0
1,2020-01-02,2,12.19,15.32,12:32,10.39,17:56,75.70,85.6,18:30,62.73,12:30,1.473,359.600,3.998,05:23,0.000,7.060,0.0
2,2020-01-03,3,11.77,16.18,13:36,7.94,06:58,77.80,86.8,20:26,64.39,12:38,2.111,326.300,4.302,03:35,337.000,9.860,0.0
3,2020-01-04,4,12.79,16.79,11:40,9.00,04:20,72.60,86.2,04:26,58.06,11:32,1.699,40.730,4.439,01:56,0.095,6.104,0.0
4,2020-01-05,5,11.85,17.18,11:36,8.60,00:00,69.21,82.5,18:16,49.78,11:30,1.863,4.554,5.184,06:27,326.400,11.050,0.0

In [24]:
weather['fecha'] = pd.to_datetime(weather['fecha'])
weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1505 entries, 0 to 1504
Data columns (total 19 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   fecha            1505 non-null   datetime64[ns]
 1   dia              1505 non-null   int64
 2   tempMedia        1505 non-null   float64
 3   tempMax          1505 non-null   float64
 4   horMinTempMax    1505 non-null   object
 5   tempMin          1505 non-null   float64
 6   horMinTempMin    1505 non-null   object
 7   humedadMedia     1505 non-null   float64
 8   humedadMax       1505 non-null   float64
 9   horMinHumMax     1505 non-null   object
 10  humedadMin       1505 non-null   float64
 11  horMinHumMin     1505 non-null   object
 12  velViento        1505 non-null   float64
 13  dirViento        1505 non-null   float64
 14  velVientoMax     1505 non-null   float64
 15  horMinVelMax     1505 non-null   object
 16  dirVientoVelMax  1505 non-null   float64
 17  radiacion        1505 non-null   float64
 18  precipitacion    1505 non-null   float64
dtypes: datetime64[ns](1), float64(12), int64(1), object(5)
memory usage: 223.5+ KB

In [7]:
weather.describe()

,dia,tempMedia,tempMax,tempMin,humedadMedia,humedadMax,humedadMin,velViento,dirViento,velVientoMax,dirVientoVelMax,radiacion,precipitacion
count,1505.000000,1505.000000,1505.000000,1505.000000,1505.000000,1505.000000,1505.000000,1505.000000,1505.000000,1505.000000,1505.000000,1505.000000,1505.000000
mean,178.429236,18.653235,22.989236,14.926671,66.754332,84.181595,46.388957,1.532124,222.250582,5.375778,207.248139,17.604991,0.547447
std,107.410009,4.843304,4.876072,4.872473,10.343487,9.586960,12.199913,0.852002,103.309082,2.124141,101.192443,6.849749,2.952161
min,1.000000,8.360000,10.800000,4.808000,24.140000,43.590000,7.880000,0.367000,0.142000,1.715000,0.000000,0.931000,0.000000
25%,84.000000,14.640000,18.990000,10.930000,60.670000,79.900000,37.630000,0.974000,158.400000,3.900000,145.800000,11.930000,0.000000
50%,178.000000,17.820000,22.250000,14.130000,68.040000,84.700000,46.160000,1.326000,255.200000,4.851000,243.800000,17.170000,0.000000
75%,272.000000,22.550000,26.950000,18.930000,73.500000,90.700000,55.290000,1.807000,301.100000,6.262000,266.000000,23.930000,0.000000
max,366.000000,29.290000,38.010000,25.570000,99.600000,100.000000,95.200000,7.050000,360.000000,15.340000,354.700000,29.760000,49.200000

In [25]:
final = price.merge(weather, how = 'inner', left_on = 'Date', right_on = 'fecha')
final.head()

,Date,Price,fecha,dia,tempMedia,tempMax,horMinTempMax,tempMin,horMinTempMin,humedadMedia,...,horMinHumMax,humedadMin,horMinHumMin,velViento,dirViento,velVientoMax,horMinVelMax,dirVientoVelMax,radiacion,precipitacion
0,2020-01-02,74,2020-01-02,2,12.19,15.32,12:32,10.390,17:56,75.7,...,18:30,62.73,12:30,1.473,359.600,3.998,05:23,0.000,7.060,0.0
1,2020-01-03,81,2020-01-03,3,11.77,16.18,13:36,7.940,06:58,77.8,...,20:26,64.39,12:38,2.111,326.300,4.302,03:35,337.000,9.860,0.0
2,2020-01-04,77,2020-01-04,4,12.79,16.79,11:40,9.000,04:20,72.6,...,04:26,58.06,11:32,1.699,40.730,4.439,01:56,0.095,6.104,0.0
3,2020-01-07,73,2020-01-07,7,10.82,16.17,13:32,6.878,06:50,71.7,...,20:34,48.00,09:38,1.550,340.400,4.449,03:38,0.095,11.280,0.0
4,2020-01-08,67,2020-01-08,8,11.36,16.24,12:46,7.280,06:08,74.0,...,19:24,57.02,09:40,1.056,0.142,3.508,08:29,354.700,10.830,0.0

In [26]:
final['Date'] = final['Date'].astype(str)

In [27]:
final['Dia'] = final['Date'].str.split('-').str[2]
final['Mes'] = final['Date'].str.split('-').str[1]
final['Año'] = final['Date'].str.split('-').str[0]

In [29]:
final.drop(['Date', 'fecha'], axis = 1, inplace = True)
final.head()

,Price,dia,tempMedia,tempMax,horMinTempMax,tempMin,horMinTempMin,humedadMedia,humedadMax,horMinHumMax,...,velViento,dirViento,velVientoMax,horMinVelMax,dirVientoVelMax,radiacion,precipitacion,Dia,Mes,Año
0,74,2,12.19,15.32,12:32,10.390,17:56,75.7,85.6,18:30,...,1.473,359.600,3.998,05:23,0.000,7.060,0.0,02,01,2020
1,81,3,11.77,16.18,13:36,7.940,06:58,77.8,86.8,20:26,...,2.111,326.300,4.302,03:35,337.000,9.860,0.0,03,01,2020
2,77,4,12.79,16.79,11:40,9.000,04:20,72.6,86.2,04:26,...,1.699,40.730,4.439,01:56,0.095,6.104,0.0,04,01,2020
3,73,7,10.82,16.17,13:32,6.878,06:50,71.7,86.9,20:34,...,1.550,340.400,4.449,03:38,0.095,11.280,0.0,07,01,2020
4,67,8,11.36,16.24,12:46,7.280,06:08,74.0,90.0,19:24,...,1.056,0.142,3.508,08:29,354.700,10.830,0.0,08,01,2020

In [30]:
def custom_round(time_str):
    # Asegurarse de que time_str es una cadena
    time_str = str(time_str)
    
    # Verificar si time_str contiene ':'
    if ':' in time_str:
        # Dividir en horas y minutos
        hour, minute = map(int, time_str.split(':'))
    else:
        # Si no contiene ':', asumir que es solo una hora
        hour = int(time_str)
        minute = 0  # No hay minutos especificados
    
    # Redondear la hora basándose en el valor de los minutos
    return hour + (minute >= 30)

In [31]:
final.isnull().sum()

Price              0
dia                0
tempMedia          0
tempMax            0
horMinTempMax      0
tempMin            0
horMinTempMin      0
humedadMedia       0
humedadMax         0
horMinHumMax       0
humedadMin         0
horMinHumMin       0
velViento          0
dirViento          0
velVientoMax       0
horMinVelMax       0
dirVientoVelMax    0
radiacion          0
precipitacion      0
Dia                0
Mes                0
Año                0
dtype: int64

In [32]:
final['horMinTempMax'] = final['horMinTempMax'].astype(str).apply(custom_round)
final['horMinTempMin'] = final['horMinTempMin'].astype(str).apply(custom_round)
final['horMinHumMin'] = final['horMinHumMin'].astype(str).apply(custom_round)
final['horMinVelMax'] = final['horMinVelMax'].astype(str).apply(custom_round)
final['horMinVelMax'] = final['horMinVelMax'].astype(str).apply(custom_round)
final['horMinHumMax'] = final['horMinHumMax'].astype(str).apply(custom_round)

In [59]:
final.drop(['Dia', 'Mes', 'Año'], axis = 1, inplace =True)
final.head()

,Price,dia,tempMedia,tempMax,horMinTempMax,tempMin,horMinTempMin,humedadMedia,humedadMax,horMinHumMax,humedadMin,horMinHumMin,velViento,dirViento,velVientoMax,horMinVelMax,dirVientoVelMax,radiacion,precipitacion
0,74,2,12.19,15.32,13,10.390,18,75.7,85.6,19,62.73,13,1.473,359.600,3.998,5,0.000,7.060,0.0
1,81,3,11.77,16.18,14,7.940,7,77.8,86.8,20,64.39,13,2.111,326.300,4.302,4,337.000,9.860,0.0
2,77,4,12.79,16.79,12,9.000,4,72.6,86.2,4,58.06,12,1.699,40.730,4.439,2,0.095,6.104,0.0
3,73,7,10.82,16.17,14,6.878,7,71.7,86.9,21,48.00,10,1.550,340.400,4.449,4,0.095,11.280,0.0
4,67,8,11.36,16.24,13,7.280,6,74.0,90.0,19,57.02,10,1.056,0.142,3.508,8,354.700,10.830,0.0

In [60]:
from sklearn.model_selection import train_test_split

In [61]:
from sklearn.preprocessing import MinMaxScaler

In [62]:
scaler = MinMaxScaler()

In [63]:
X = final.drop('Price', axis = 1)
y = final['Price']

In [64]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state=123)

In [65]:
X_train.shape, y_train.shape

((786, 18), (786,))

In [66]:
scaler.fit_transform(X_train)
scaler.transform(X_test)

array([[0.12362637, 0.15719882, 0.22278057, ..., 0.99859036, 0.54410688,
        0.        ],
       [0.37362637, 0.49118511, 0.50460637, ..., 0.39159853, 0.61875196,
        0.        ],
       [0.90659341, 0.30117532, 0.34840871, ..., 0.97208909, 0.28040741,
        0.        ],
       ...,
       [0.02747253, 0.04407444, 0.13651591, ..., 0.69664505, 0.38365482,
        0.        ],
       [0.76373626, 0.64985309, 0.64656616, ..., 0.70764026, 0.51794621,
        0.        ],
       [0.6456044 , 0.86238981, 0.76549414, ..., 0.45644206, 0.74362552,
        0.        ]])

In [67]:
X_train

,dia,tempMedia,tempMax,horMinTempMax,tempMin,horMinTempMin,humedadMedia,humedadMax,horMinHumMax,humedadMin,horMinHumMin,velViento,dirViento,velVientoMax,horMinVelMax,dirVientoVelMax,radiacion,precipitacion
656,346,17.43,20.05,10,13.73,5,73.20,88.6,23,54.12,0,3.051,276.700,8.170,17,266.3,10.170,0.0
368,230,26.06,29.15,15,23.71,5,75.10,91.1,5,56.74,15,1.011,216.300,3.058,13,181.2,19.870,0.4
260,359,13.82,18.25,14,11.20,6,66.34,79.2,18,55.41,8,1.095,2.761,3.753,8,336.4,10.720,0.0
91,127,19.42,24.02,16,14.46,6,83.80,100.0,4,54.76,18,0.531,168.800,2.205,12,173.9,27.140,0.0
170,254,23.12,27.15,13,19.98,4,64.41,74.6,22,54.55,15,0.584,277.100,3.077,0,348.7,22.640,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98,135,17.46,21.31,13,14.99,3,66.15,84.8,1,49.38,19,3.580,252.700,8.170,4,261.8,27.990,0.0
322,72,15.76,20.04,12,13.20,22,70.60,82.2,0,58.27,9,1.320,283.300,5.253,11,264.3,19.370,0.0
382,246,23.88,27.69,13,20.65,2,69.37,85.9,23,49.17,7,0.872,301.300,3.244,9,161.3,21.650,0.0
365,226,25.94,29.61,13,23.24,23,83.60,96.9,23,64.41,13,0.959,242.500,3.636,16,247.4,21.770,0.0
510,36,14.39,17.19,13,10.67,0,80.90,99.5,0,39.45,3,0.499,188.000,2.528,13,160.5,5.712,0.0

In [73]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, accuracy_score, mean_absolute_percentage_error, mean_absolute_error
from sklearn.model_selection import cross_val_score
from sklearn.tree import DecisionTreeRegressor

In [74]:
rf = RandomForestRegressor(n_estimators = 10000, min_samples_leaf=0.2)

In [75]:
dt = DecisionTreeRegressor(random_state=123)

In [70]:
rf.fit(X_train, y_train)
predictions = rf.predict(X_test)

In [71]:
result = mean_absolute_error(predictions, y_test)
result

40.72347500945391

In [78]:
dt.fit(X_train, y_train)
dt_pred = dt.predict(X_test)

In [91]:
dt_result = mean_absolute_error(dt_pred, y_test)
print(f"El error que obtenemos con DecisionTree es de {round((dt_result/100), 2)}€")

El error que obtenemos con DecisionTree es de 0.47€

In [84]:
result = abs(y_test - dt_pred)
result.describe()

count    197.000000
mean      46.578680
std       54.195133
min        0.000000
25%       13.000000
50%       28.000000
75%       58.000000
max      299.000000
Name: Price, dtype: float64